b, h2, label, h4
{
	color: white;

}
label {
	font-size: 1rem;
}
b {
	font-size: 1rem;
}

.input {
	margin-left: 5px;
}

.margeR {
	margin-right: 10px;
}
p {
	color: white
}

footer {
	background-color: darkslategray;
	position: absolute;
	bottom: 0;

	height: 80px;
	width: 100vw;
}